@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

    <div class="grid-container">
        <div class="grid-item">
            <h1>Tips</h1>
            <div class="row">
                @{
                    var random3Recipes = Umbraco.Content(1063)
                    .Descendants()
                    .Where(x => x.IsVisible() &&
                    (x.IsDocumentType("foodRecipe") ||
                    x.IsDocumentType("dessertRecipe") ||
                    x.IsDocumentType("drinkRecipe")))
                    .OrderByDescending(x => x.CreateDate).Take(3);
                }
               
                @foreach (var item in random3Recipes)
                {
                    <div class="course-col">
                    <div class="img-col">
                    @{
                    var image = item.Value<IPublishedContent>("quickViewImage");
                    }
                    <img class="img-rec" src="@image.Url()">
                    </div>
                    <h3>@item.Value("quickViewTitle")</h3>
                    </div>
                    }

            </div>
        </div>
        <div class="grid-item hem">
            <div>
                <h1>@Model.Value("welcomeHeader")</h1>
                <p>@Model.Value("welcomeMessage")</p>
            </div>
        </div>

      </div>